$minw: 320px;
$maxw: 1170px;
$main_color: #ff4343;
$color2: #ffffff;
$color3: #2d3033;
$color4: #6c7279;
$color-link: #c6cbcd;
$bg_light: #5c3249;
$bg_dark: #353c65;
$bg_footer: #2c3154;
$md1: $maxw + 30;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
$main_font_size: 18px;
$md1_font_size: 16px;
$md2_font_size: 14px;
