.header {
  padding: 35px 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.header-container {
  &::after {
    content: "";
    display: block;
    max-width: 100%;
    height: 1px;
    margin-top: 36px;
    background-color: #babbc5;
  }
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px;
}

.header-logo {
  margin: 0 15px;
}

.burger-menu {
  display: none;
  margin: 0 15px;

  @media (max-width: 751px) {
    display: block;
  }
}

.nav {
  margin: 0 15px;
  @media (max-width: 751px) {
    display: none;
  }
}

.menu {
  width: 670px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    position: relative;
  }

  &__link {
    @include fonts("Raleway", 700, 13px, 15px);
    color: $color2;
    text-transform: uppercase;
    transition: 0.2s;
  }

  &__link:active {
    color: #e71414;
  }

  &__link:hover::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 285%;
    background-color: #babbc5;
    transition: 0.3s;

    @media (max-width: $md1) {
      top: 310%;
    }

    @media (max-width: $md2) {
      top: 345%;
    }
  }

  &__link:active::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 285%;
    background-color: #e71414;
    transition: 0.3s;

    @media (max-width: $md1) {
      top: 310%;
    }

    @media (max-width: $md2) {
      top: 345%;
    }
  }

  @media (max-width: 992px) {
    width: 460px;
  }

  @media (max-width: 680px) {
    display: none;
  }
}
