.info {
  background-color: $bg_dark;
  padding: 50px 0;
  @media (max-width: 988px) {
    padding: 45px 0;
  }
  @media (max-width: 691px) {
    padding: 35px 0;
  }
}

.info-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 30px;

  // @media (max-width: 992px) {
  //   justify-content: space-around;
  // }

  @media (max-width: 691px) {
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
  }
}

.info-card {
  max-width: 370px;
  text-align: center;
  &__title {
    @include info-title();
    margin-bottom: 30px;

    @media (max-width: 691px) {
      margin-bottom: 20px;
    }
  }

  span {
    @include info-desc();
  }

  @media (max-width: 996px) {
    max-width: 315px;
  }

  @media (max-width: 992px) {
    max-width: 215px;
  }

  @media (max-width: 691px) {
    max-width: 315px;
  }

  @media (max-width: 361px) {
    max-width: 280px;
  }
}

.info-card-links {
  display: flex;
  a {
    &:not(:last-child) {
      margin-right: 27px;

      // @media (max-width: 992px) {
      //   margin-right: 10px;
      // }
    }
  }
}

.fa-brands {
  @include person-card-link;
}
